.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background: #212529;
  padding-left: 20px;
  max-width: 100%;
}

.custom-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 20%;
  text-decoration: none !important;
  letter-spacing: normal;
}

.header-logo {
  font-family: "Verdana", cursive;
  font-size: 6vh;
  letter-spacing: 0.1em;
  color: white;
  height: 80px;
}

.headerLink {
  text-decoration: none;
  padding-top: 25px;
}
