.job-offers {
    width: 50%;
    height: calc(100vh - 300px);
}

.job-offers-list {
    height: calc(100vh - 300px);
    overflow: hidden;
    overflow-y: scroll;
}

.job-offer-badge {
    margin-right: 10px;
}

.job-offers-list-item {
    border-top: 1px solid rgb(221, 215, 215) !important;
    margin-bottom: 10px;
    border-radius: 5px;
}

.job-offers-list-item:hover {
    background-color: rgb(244, 244, 244);
}

.job-offer-link {
    text-decoration: none;
}