.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  /* background: orange; */
  padding-left: 1%;
}

.header__unregistered-user,
.header__registered-user {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 20vw;
  text-decoration: none !important;
  letter-spacing: normal;
  /* background: red; */
}

.header__logo {
  font-family: "Lobster", cursive;
  font-size: 5em;
  letter-spacing: 0.1em;
  text-decoration: underline;
}

.header__btn {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.23);
  box-shadow: 0px 2px 8px rgba(0, 114, 150, 0.16);
  border-radius: 20px;
  cursor: pointer;
  width: 35%;
  padding: 12px 20px;
  font-size: 1rem;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.header__btn:hover {
  background: #eee;
  transition: background-color 0.3s;
  box-shadow: 0px 2px 8px rgba(0, 114, 150, 0.16);
}

.header__btn:active {
  background: #ddd;
  transition: background-color 0.1s;
}
