.data {
  display: flex;
  flex-direction: column;
  width: 800px;
  padding: 0;
  margin: 0;
  /* background: limegreen; */
}

.data__input-data {
  width: 740px;
  height: 10vh;
  padding: 0 30px 0 30px;
  margin: 0;
  /* background: blue; */
}

.data__input-data--form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 740px;
  height: 100%;
  padding: 0;
  margin: 0;
}

input[type="text"],
.custom-select {
  background: #ffffff;
  padding: 12px 20px;
  font-size: 1rem;
  border-style: solid;
  text-align: center;
  outline: transparent;
  width: 35%;
  font-family: "Open Sans", sans-serif;
  box-shadow: 0px 2px 8px rgba(0, 114, 150, 0.16);
}

.custom-select {
  cursor: pointer;
}

input[type="text"]:hover,
.custom-select:hover,
.data__filter-data--btn:hover {
  background: #eeeeee;
  transition: background-color 0.3s;
  box-shadow: 0px 2px 8px rgba(0, 114, 150, 0.16);
}

.data__filter-data {
  display: inline-block;
  /* text-align: center; */
  /* align-items: center; */
  height: 25vh;
  width: 750px;
  padding: 0 25px 0 25px;
  margin: 0;
  overflow: hidden;
  word-wrap: break-word;
  /* background: lightsalmon; */
}

.data__filter-data--btn,
.data__filter-data--btn--clicked {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.23);
  text-align: center;
  box-shadow: 0px 2px 8px rgba(0, 114, 150, 0.16);
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 1.05em;
  padding: 7.5px 10px;
  margin: 5px 5px;
  border-radius: 20px;
  height: 5vh;
  width: 140px;
}

.data__filter-data--btn--clicked {
  background: #dddddd;
}

.data__filter-data--btn:active {
  background: #dddddd;
  transition: background-color 0.3s;
  box-shadow: 0px 2px 8px rgba(0, 114, 150, 0.16);
}

.data__filter-data--btn--clicked:hover {
  background: #eeeeee;
  transition: background-color 0.3s;
  box-shadow: 0px 2px 8px rgba(0, 114, 150, 0.16);
}

.data__filter-data--btn--clicked:active {
  background: #dddddd;
  transition: background-color 0.3s;
  box-shadow: 0px 2px 8px rgba(0, 114, 150, 0.16);
}

.data__filter-data--btn--icon {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.data__advert-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 55vh;
  width: 740px;
  padding: 0 30px 0 30px;
  overflow-y: scroll;
  scrollbar-width: none;
  /* background: lightgreen; */
}

.data__advert-data--synopsis {
  height: 175px;
  width: 720px;
  padding: 5px 10px;
  margin: 5px 0;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 114, 150, 0.16);
  border-radius: 4px;
}

.data__advert-data--synopsis--header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 1.1em;
  width: 100%;
  height: 20%;
  /* background: lightblue; */
}

.data__advert-data--synopsis--body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.1em;
  height: 60%;
  /* background: lightseagreen; */
}

.data__advert-data--synopsis--skills {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 20%;
  /* background: lightgoldenrodyellow; */
}

.data__advert-data--synopsis--skill {
  /* background: lightcoral; */
  display: flex;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  border: solid grey 1px;
  padding: 3px 5px;
  margin: 0 1% 0 0%;
  border-radius: 25px;
  width: 12.5%;
}
