.navbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #212529;
  position: static;
}

.navbar-content {
  width: 220px;
  height: 100vh;
}

.navbar-text {
  margin-left: 6px;
  color: white;
}

.navbar-link:hover {
  background-color: #0275d8;
}