.navbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #212529;
  width: 100px;
  position: static;
}

.icon {
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.custom-link:hover {
  background-color: #333741;
}